@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Poppins:wght@600&family=Rampart+One&display=swap');

%sumit {
    border: 1px solid #f8f9fa;
    border-radius: 3px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 9px 16px;
    color: #3c4043 ;
    margin-top: 6px}
    
* {
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    position: relative;
    
    .front-end-container{
        flex-direction: column;
        width: 70vw;
        height: inherit;

        .logo {
            display: flex;
            justify-content: center;
            height: 25vh;
            position: relative;
            align-items: center;
            
            .google-logo{
                max-width: calc(100px + 100vw );
                position: absolute;
                bottom: 5px;
                
            }

        }
        
    }
    .creater {
        position: absolute;
        bottom: 1px;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .presentation {
            width: 70vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            position: relative;

            .text{
                padding-right: 75px;  
                position: absolute;
                bottom: 20px;
                height: 30px;
                width: 150px; 
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
            }
            .myName {
                height: 40px;
                width: 100px;
                position: absolute;
                bottom: 16px;
                padding-left: 121px;
                font-family: 'Fira Code', monospace;
                font-size: 20px;
            }
        }
        
        .links{
            position: relative;
            background-color: pink;
            width: 70vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            .follow {
                position: absolute;
                z-index: 2;
                padding-right: 50px;
                display: flex;
                font-family: 'Rampart One', cursive;
                font-size: 16px;
                
                
            }

            #ig-logo {
                padding-left: 200px;
                position: absolute;
                .instagram {
                    display: inline-block;
                    width: 55px;
                    height: 55px;
                    text-align: center;
                    border-radius: 14px;
                    color: #fff;
                    font-size: 45px;
                    line-height:  57px;
                    vertical-align: middle;
                    background: #d6249f;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                }
            }
            
        }





    }

    .navBtn-container{
        display: flex;
        align-self: flex-start ;
        position: absolute;
        top: 0px;
        right: 0px;

        div {
            padding-left: 3px;
            padding-top: 10px;
            padding-right: 20px;
            .button2 {
                border: none;
                background-color: transparent;

            }

        }
        
    }

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    align-items: center;
    position: relative;

    .search-field{
        position: absolute;
        top: 20px;
        .query {
            padding: 10px 15vw;
            border-radius: 50px;
            border: 1px solid #dfe1e5;
            position: relative;
        }

        .search-logo {
            position: absolute;
            left: 10px;
            bottom: 5px;
            width: 25px;
               
        }

    }


    .sumit-buttons {
        height: 50px;
        width: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 75px;

        .sumit-search {
            @extend %sumit;
        }
        
        .sumit-lucky {
            @extend %sumit;
            margin-left: 10px;
        }

    }

}


